.container {
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}

.table-container {
  text-align: center;
  flex: 1;  
  margin: 0.2vw;
  max-width: 15vw;
}

.felevTable {
  border-collapse: separate;
  width: 15vw;
}

.felev {
  padding: 1vw;
  border-radius: 1vw;
  background-color: #E7F9AD;
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
}

.felevTable td {
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  background-color: #E7F9AD;
}
.deleted-row{
  visibility: hidden;
}