.container {
  margin-top: 3vw;
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of .table-container elements */
  overflow-x: hidden; /* Add horizontal scroll for smaller screens if necessary */
  min-width: fit-content; 
  
}

.table-container {
  text-align: center;
  margin: 0.1vw;
  max-width: 15vw;
}

.felevTable {
  border-collapse: separate;
  width: 13vw;
}

.felev {
  padding: 1vw;
  border-radius: 1vw;
  background-color: #9EBFD2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.felevTable td {
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  background-color: #9EBFD2;
  height: 5vw;
  font-size: 1vw;
}

.felevTable th{
  height: 5vw;
}
.deleted-row {
  visibility: hidden;
}

.szamlalo{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 3vw;
  font-size: 1vw;
}
.col{
  border-radius: 1vw;
  background-color: #9EBFD2;
  padding: 1.5vw;
  margin: 1vw;
}
.main{
  background-color: #424651;
}