.container {
  margin-top: 3vw;
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of .table-container elements */
  overflow-x: hidden; /* Add horizontal scroll for smaller screens if necessary */
  min-width: fit-content; 
  
}

.felevTable {
  text-align: center;
  margin: 0.1vw;
  max-width: 15vw;
  border-collapse: separate;
  width: 13vw;
}

.felev {
  padding: 1vw;
  border-radius: 1vw;
  background-color: #9EBFD2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.felevTable td {
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  background-color: #9EBFD2;
  height: 6vw;
  font-size: .9vw;
}

.felevTable th{
  height: 5vw;
}
.deleted-row {
  visibility: hidden;
}

.main{
  background-color: #424651;
}
.felevTable .kredit{
  background-color: #BCE7FD;
}



/* Media Query for xs screens (phones) */
@media (max-width: 576px) {
  .container {
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start;
    position: relative;
  }

  .felevTable {
    flex: 1 0 auto;
    min-width: 90vw; /* Set a fixed width and adjust as needed */
    margin: 0 2vw; /* Add a fixed margin between tables */
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow: visible;
    display: table;
  }

  .felev {
    font-size: 7vw;
    height: 3vw;
  }

  .felevTable th {
    height: 22vw;
    border: 5px red solid;
  }

  .felevTable td {
    font-size: 3.5vw;
    height: 20vw;
    text-align: center;
  }

  .sliding-footer {
    position: fixed;
    bottom: 0; /* Set to 0 to keep the footer at the bottom of the viewport */
    left: 0;
    width: 100%;
    background-color: #695e5b;
    color: white;
    text-align: center;
    transition: bottom 0.3s;
    border-radius: 2vw;
    font-size: 5vw;
    font-weight: bold;
  }
}